examples/workflows/simple-test.json
{
  "name": "Simple Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Hello Test"
            }
          ],
          "number": [
            {
              "name": "count",
              "value": 42
            }
          ]
        }
      },
      "name": "Set Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    processed: true,\n    timestamp: new Date().toISOString()\n  }\n}));"
      },
      "name": "Process",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{"node": "Set Data", "type": "main", "index": 0}]]
    },
    "Set Data": {
      "main": [[{"node": "Process", "type": "main", "index": 0}]]
    }
  }
}